{{extend 'dkars_layout.html'}}
<h1>DKC log robot</h1>
{{if response._vars['status'] == 'not_published':}}
    <p>{{=T('The DKARS team is busy processing the contest logs and has not published the results yet.')}}</p>
{{elif response._vars['status'] == 'no_contest':}}
        <p>{{=T('Currently, there is no active contest for which you can upload logs. Please come back later')}}</p>
{{pass}}
