{{extend 'dkars_layout.html'}}
<h1>DKC log robot - {{=T('scoring results')}}</h1>
{{if not response._vars['scores']:}}
    {{=BEAUTIFY(response._vars['contest'])}}
{{pass}}

{{if response._vars['manage']:}}<b>{{=T('Manage the contest')}} <a href="{{=response._vars['manage']}}">{{=T('here')}}</a></b>{{pass}}
{{if response._vars['scores']:}}
    {{for category in response._vars['categories']:}}
    <h3>{{=category['t_categories.f_name']}}</h3>
    {{=category['t_categories.f_description']}}
        {{if category['t_categories.f_name'] in response._vars['scores']:}}
                <table>
                    <thead>
                        <th>{{=T('Callsign')}}</th>
                        <th>{{=T('Total QSOs')}}</th>
                        <th>{{=T('Skipped QSOs')}}</th>
                        <th>{{=T('Points')}}</th>
                        <th>{{=T('Multiplier')}}</th>
                        <th>{{=T('Total')}}</th>
                    {{ if logged_in: }}
                        <th>Certificate</th>
                    {{ pass }}
                    </thead>
                    <tbody>
            {{for row in response._vars['scores'][category['t_categories.f_name']]:}}
            {{#=category}}
                        <tr>
                            <td><a href="{{=URL('log_detail', vars={'callsign': row['t_scores.f_callsign'],
                                                                   'contest': row['t_scores.f_contest']})
                            }}">{{=row['t_scores.f_callsign']}}</a></td>
                            <td>{{=row['t_scores.f_total']}}</td>
                            <td>{{=row['t_scores.f_skipped']}}</td>
                            <td>{{=row['t_scores.f_points']}}</td>
                            <td>{{=row['t_scores.f_multiplier']}}</td>
                            <td>{{=row['t_scores.f_total_points']}}</td>
                        {{ if logged_in: }}
                            <td><a href="{{=URL('certificate', args=(row['t_scores.f_callsign'].replace('/', '_'), contest_id)) }}">link</a></td>
                        {{ pass }}
                        </tr>
            {{pass}}
                    </tbody>
                </table>
        {{pass}}
    {{pass}}
{{pass}}
