{{extend 'dkars_layout.html'}}
<h1>DKC log robot - {{=T('soapboxes')}}</h1>
{{if not response._vars['soapboxes']:}}
    {{=BEAUTIFY(response._vars['contest'])}}
{{else:}}
<table>
    <tr><th>Operator</th><th>Soapbox</th></tr>
{{ for row in soapboxes: }}
    <tr><td>{{=row.f_operator}}</td><td>{{=row.f_soapbox}}</td></tr>
{{ pass }}
</table>
{{pass}}
