{{extend 'dkars_layout.html'}}

<h1>{{=T('Log upload')}}</h1>
{{ if response._vars['form']: }}
    <p><b>{{=T('Please fill in the following form to submit your contest log')}}</b></p>
    {{#debug#=BEAUTIFY(response._vars['form'])}}
    {{=form.custom.begin}}
    {{=T('Log file to upload:')}} <div>{{=form.custom.widget.f_file}}</div>
    <br/>
    {{=T('e-Mail address')}}: <div>{{=form.custom.widget.f_email}}
    {{=form.custom.widget.f_mailinglist}} Add to mailing list?</div>
    <br/>
    {{=T('Expat motivation (if you qualify as one)')}}: <div>{{=form.custom.widget.f_expat_motivation}}</div>
    <br/>
    {{=T('Please select your category')}}:
    <table border="0" style="border: thin solid #000000;">
        <tr><td colspan="2"><div id="cat_or"><b>or</b></div></td></tr>

        <tr>
            <td id="cat_SWL">
                {{=form.custom.widget.f_swl}} SWL
            </td>
            <td id="cat_all">
                {{=T('Category region')}}:
                <div id="category_region">{{=form.custom.widget.f_category_region}}</div>

                {{=T('Category mode')}}:
                <div id="category_mode">{{=form.custom.widget.f_category_mode}}</div>

                {{=T('Category type')}}:
                <div id="category_power">{{=form.custom.widget.f_category_power}}</div>

                {{=T('Category')}}:
                <div id="category_result"><b>&nbsp;</b></div>
            </td>
        </tr>
    </table>
    {{=form.custom.submit}}
    {{=form.custom.end}}
{{ else: }}
    <p>{{=T('Currently, there is no active contest for which you can upload logs. Please come back later')}}</p>
{{ pass }}
<script>
    jQuery(document).ready(function(){
        var category_region = $('#category_region select').children("option")[0].value;
        var category_mode = $('#category_mode select').children("option")[0].value;
        var category_power = $('#category_power select').children("option")[0].value;

        function update_category() {
            var category;
            if ((category_power == 5 && category_region != 'A') ||
                category_mode == '-' ||
                category_power == '-' ||
                category_region == '-'
            ) {
                category = '{{=T('INVALID')}}';
            } else {
                category = category_region + category_power + category_mode;
            }
            $('#category_result').html('<b>'+category+'</b>');
        }

        update_category();
        jQuery('#category_region select').on('change', function() {
            category_region = $(this).children("option").filter(":selected").val();
            update_category();
        });
        jQuery('#category_mode select').on('change', function() {
            category_mode = $(this).children("option").filter(":selected").val();
            update_category();
        });
        jQuery('#category_power select').on('change', function() {
            category_power = $(this).children("option").filter(":selected").val();
            update_category();
        });
    });
</script>
