<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- {{=hostname}} -->
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
<title>DKC contest</title>
  <!--[if !HTML5]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
  <![endif]-->
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
       (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
	   
  <meta charset="utf-8" />

  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />

  <!-- Speaking of Google, don't forget to set your site up:
       http://google.com/webmasters -->
  <meta name="google-site-verification" content="" />

  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
        device-width: Occupy full width of the screen in its current orientation
        initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
        user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  <!-- All JavaScript at the bottom, except for Modernizr which enables
       HTML5 elements & feature detects -->
  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

  <!-- include stylesheets -->
  {{
  response.files.insert(0,URL('static','css/web2py.css'))
  response.files.insert(1,URL('static','css/bootstrap.min.css'))
  response.files.insert(2,URL('static','css/bootstrap-responsive.min.css'))
  response.files.insert(3,URL('static','css/web2py_bootstrap.css'))
  response.files.insert(3,URL('static','css/template.css'))
  }}

  {{include 'web2py_ajax.html'}}

  {{
  # using sidebars need to know what sidebar you want to use
  left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
  right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
  middle_columns = {0:'span12',1:'span9',2:'span6'}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
  }}

  <!-- uncomment here to load jquery-ui
       <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
       <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
       uncomment to load jquery-ui //-->
  <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>
  {{block head}}{{end}}
</head>

<body>
<div class="flash">{{=response.flash or ''}}</div>
    <div id="wrapper">

        {{
            url = response._view_environment['request']['url']
            if 'dkcrobot/default' in url:
                base = '/dkcrobot/default'
            elif 'dkcrobot' in url:
                base = '/dkcrobot'
            else:
                base = ''
            pass
            page = url.split('/')[-1]
        }}
        <div id="header"></div>
        <div id="navi">
            <table width="100%" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td align="center" style="border-right: 3px solid #fff; padding-left: 5px;" width="25">
                        <a href="index"><img src="{{=base}}/static/images/home.png" width="25" height="25"></a>
                    </td>
                    <td>
                        <ul>
                            <li {{if page == 'upload':}}class="menuactive menuparent"{{pass}}>
                              <a {{if page == 'upload':}}class="menuactive menuparent"{{pass}} href="{{=base}}/upload"><span>Contest upload</span></a>
                            </li>
                            <li>
                                <a href="http://dkars.nl/"><span>DKARS site</span></a>
                            </li>
                            <li>
                                <a href="http://forum.dkars.nl/"><span>Forum</span></a>
                            </li>
                            {{if not auth.is_logged_in():}}
                            <li {{if page == 'login':}}class="menuactive menuparent"{{pass}}>
                                <a {{if page == 'login':}}class="menuactive menuparent"{{pass}} href="{{=base}}/user/login"><span>Login (staff)</span></a>
                            </li>
                            {{else:}}
                            <li {{if page == 'contests':}}class="menuactive menuparent"{{pass}}>
                                <a {{if page == 'contests':}}class="menuactive menuparent"{{pass}} href="{{=base}}/contests"><span>Contests</span></a>
                            </li>
                            <li {{if page == 'scores':}}class="menuactive menuparent"{{pass}}>
                                <a {{if page == 'scores':}}class="menuactive menuparent"{{pass}} href="{{=base}}/scores"><span>Scores</span></a>
                            </li>
                            <li {{if page == 'expats':}}class="menuactive menuparent"{{pass}}>
                                <a {{if page == 'expats':}}class="menuactive menuparent"{{pass}} href="{{=base}}/expats"><span>Expats</span></a>
                            </li>
                            <li {{if page == 'soapbox':}}class="menuactive menuparent"{{pass}}>
                                <a {{if page == 'soapbox':}}class="menuactive menuparent"{{pass}} href="{{=base}}/soapbox"><span>Soapbox</span></a>
                            </li>
                            {{pass}}
                        </ul>
                    </td>
                </tr>
            </tbody>
            </table>
            <div class="clearer">&nbsp;</div>
        </div>
        <div id="content">
            <div id="inner">
                {{include}}
            </div>
            <div id="footer"></div>
        </div>
    </div>

  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>
  <!--[if lt IE 7 ]>
      <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
      <![endif]-->
  
  {{if response.google_analytics_id:}}
  <script src="{{=URL('static','js/analytics.min.js')}}"></script>
  <script type="text/javascript">
  analytics.initialize({
    'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'} 
  });</script>
  {{pass}}
  <script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script>
</body>
</html>

